# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log

# Environment variables
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# Flake8
.flake8_cache/

# Build / distribution
build/
dist/
*.egg-info/
